In [1]:
print("hello python")

hello python

In [2]:
int(2)

2

In [3]:
float(2)

2.0

In [4]:
int(2.2)

2

In [5]:
x=2+2+4

In [6]:
x

8

In [7]:
y=x/2

In [8]:
y

4.0

In [9]:
(2+2)*2

8

In [10]:
2/2

1.0

In [11]:
4/2

2.0

In [12]:
4/3

1.3333333333333333

In [13]:
4//3

1

In [14]:
type(1)

int

In [15]:
type(2.2)

float

In [16]:
type("hello")

str

In [17]:
int(True)

1

In [18]:
int(False)

0

In [19]:
bool(1)

True

In [20]:
bool(0)

False

In [21]:
Name= "waleed falak"

In [22]:
Name

'waleed falak'

In [28]:
Name[1]:

SyntaxError: invalid syntax (<ipython-input-28-6dd9917a1606>, line 1)

In [27]:
Name[::2]:

SyntaxError: invalid syntax (<ipython-input-27-f2ebd9fb22a6>, line 1)

In [29]:
Name= "waleed"

In [30]:
Name

'waleed'

In [2]:
Name= "waleed"

In [3]:
Name[5]

'd'

In [85]:
Name

'waleed'

In [96]:
Name[1]

'a'

In [87]:
Name

'waleed'

In [98]:
Name[2]

'l'

In [92]:
Name[4]

'e'

In [99]:
Name[:2]

'wa'

In [91]:
Name[::2]

'wle'

In [53]:
len("waleed")

6

In [66]:
Statement = Name + (" is awsome")

In [67]:
Statement

'waleed is awsome'

In [68]:
print("waleed \n is awsome")

waleed
 is awsome

In [70]:
print("waleed \t is awsome")

waleed 	 is awsome

In [71]:
A= "waleed is awsome"

In [72]:
A

'waleed is awsome'

In [78]:
B= A.upper()

In [79]:
B

'WALEED IS AWSOME'

In [80]:
B= A.replace("waleed","wali")

In [81]:
B

'wali is awsome'

In [82]:
Name.find("ed")

4

In [1]:
# print("Hello World!")

In [2]:
int(1.0)

1

In [11]:
"0123456".find("1")

1

In [12]:
Numbers=("012345678")

In [13]:
Numbers[::2]

'02468'

In [21]:
Name= "Waleed Falak"

In [22]:
print(Name[1])

a

In [23]:
print(Name[3])

e

In [24]:
print(Name[11])

k

In [25]:
print(Name[8])

a

In [27]:
print(Name[-1])

k

In [32]:
D= "1234567"

In [33]:
print(D[:2])

12

In [30]:
A= "abcdfrg"

In [34]:
print(A[:3])

abc

In [35]:
print(A[::2])

acfg

In [36]:
F="You are wrong"

In [37]:
F.upper()

'YOU ARE WRONG'

In [38]:
F.lower()

'you are wrong'

In [39]:
3+2*2

7

In [40]:
name= "Lizz"

In [41]:
print(name[0:2])

Li

In [42]:
"1"+"2"

'12'